<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/ptz.js') }}"></script>
    <title>Document</title>
</head>
<body>
    <button onclick="make_act('left')">left</button>
    <button onclick="make_act('right')">right</button>
    <button onclick="make_act('up')">up</button>
    <button onclick="make_act('down')">down</button>
    <button onclick="make_act('stop')">stop</button>
    <button onclick="make_act('set_preset')">set preset</button>
    <button onclick="make_act('select_preset')">select preset</button>
    <button onclick="make_act('get_presets')">get presets</button>
</body>
</html>