<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/ptz.js') }}"></script>
    <title>Document</title>
</head>
<body>
    <div class="control">
        <div class="joy">
            <input class="allow" onclick="make_act('up')" type="image" style="width: 5%; height: 5%; margin-left: 5%" src="{{ url_for('static', filename='images/up.png') }}"/>
                <div style="display: flex;">
                    <input class="allow" onclick="make_act('left')" type="image" style="width: 5%; height: 5%;" src="{{ url_for('static', filename='images/left.png') }}"/>
                    <input class="allow" onclick="make_act('stop')" type="image" style="width: 5%; height: 5%;" src="{{ url_for('static', filename='images/pause.png') }}"/>
                    <input class="allow" onclick="make_act('right')" type="image" style="width: 5%; height: 5%;" src="{{ url_for('static', filename='images/right.png') }}"/>
                </div>
            <input class="allow" onclick="make_act('down')" type="image" style="width: 5%; height: 5%; margin-left: 5%;" src="{{ url_for('static', filename='images/down.png') }}"/>
        </div>
    <div>
        <label>Camera ip:</label>
        <input
        type="text"
        id="cam_ip"
        />
    </div>
    <div style="margin-top: 1%;">
        <label>Port:</label>
        <input
        type="text"
        id="port"
        />
    </div>
    <div style="margin-top: 1%;">
        <label>Username:</label>
        <input
        type="text"
        id="username"
        />
    </div>
    <div style="margin-top: 1%;">
        <label>Password:</label>
        <input
        type="text"
        id="password"
        />
    </div>
    <div style="margin-top: 5%;">
        <label>Preset num:</label>
        <input
        type="number"
        id="preset"
        />
    </div>
    <div style="margin-top: 1%;">
        <button onclick="set_preset()">set preset</button>
        <button onclick="select_preset()">select preset</button>
        <button onclick="get_presets()">get presets</button>
    </div>
    <div style="margin-top: 1%;">
        <button onclick="zoom_up()">zoom up</button>
        <button onclick="zoom_down()">zoom down</button>
    </div>
    <div style="margin-top: 1%;">
        <button onclick="focus_plus()">focus +</button>
        <button onclick="focus_minus()">focus -</button>
        <button onclick="focus_stop()">focus stop</button>
    </div>
    <div>
        <button onclick="focus_auto()">focus auto</button>
    </div>
    <div>
        <button onclick="get_status()">get status</button>
    </div>
</body>
</html>